youtube-transcript-api
yt-dlp
google-api-python-client
requests
fastapi
uvicorn

langchain
langchain-core
langchain-mistralai
langchain-google-genai
python-dotenv
langchain-community
langchain-tavily
pydantic
langgraph
joblib
scikit-learn
pandas

faiss-cpu>=1.12.0

pypdf>=6.0.0

# Google Generative AI SDK for image generation
google-genai>=2.0.0
